

body {
margin:0;

}

html {
  scroll-behavior: smooth;
}



#navbar{
  margin: auto;

height: 60px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #DCDCDC 0%, #ffffff 100%);
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 3px solid #1E90FF;

}



#navbar h2 {
  color: blue;
display: flex;
flex-direction: row;
align-items: center;


}
#navbar h2 a{
  border: 4px inset #1E90FF;
  text-decoration: none;
  margin-left: 19px;
  font-size: 25px;
  padding: 3px;

}

ul{
list-style-type: none;
display: flex;
flex-direction: row;
align-items:center;


}
li{
  margin: 15px;
}
li a {
  text-decoration: none;
  color: #3399ff;
  font-size: 30px;
  font-weight: bold;
  transition: color 0.6s;
}

li a:hover{
  color:black;
}

.top-container-content {
  background-image: url("images/laptop grey.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 92vh;
  opacity: 0.9;

}


.profile {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:35px;
  bottom: 0;
  left: 0;
  right: 0;


}

.name {
  font-weight: bolder;
  font-style: italic sans serif;
  font-size:70px;
}

.btn a {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  border: 3px solid #1E90FF;
  padding: 10px 40px;
  border-radius: 10px;
  line-height: 100px;
  transition: background 0.9s ,color 0.9s;
}

.btn a:hover {
  background: #1E90FF;
  color: white;
}



.desc {
  line-height: 70px;
  font-size: 40px;
}
#about{
  margin: 0;
  padding-top: 120px;
  text-align: center;
   background: linear-gradient(to bottom, white 0%, silver 100%);
   height: 700px;
}
hr{
  width: 30%;
  border: 2px dotted #1E90FF;
}
.overview{
  margin-left: 10%;
  margin-right: 11%;
  font-size: 30px;

}

.about-content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}
.skills-content{
background: linear-gradient(to bottom, white 0%, silver 100%);
  text-align: center;
  height: 600px;
  margin-top :100px;
  padding: 50px;


}
.logo{
  width: 72px;
  height: 85px;
}
.skills-rows{
  display: flex;
  flex-direction: column;
  justify-content: center;


}
.skill-row{
  padding-top: 90px;
  display:flex;
justify-content:space-around;
}

.contact-content{
background: linear-gradient(to bottom, white 0%, silver 100%);
  text-align: center;
  height: 500px;
  margin-top :60px;


}
.first-contact{
  margin-top: 5px;;
}

.card{
  width: 50px;
  height: 50px;
    margin-right: 10px;
}
.email{
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
font-size: 30px;
padding-bottom: 40px;
margin-top: 10px;
padding: 10px;

}

.phone{
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size:25px;
  margin-top: 30px;

}
.copyright{
  margin-top: 100px;
}
.receiver{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
